body {
    margin: 0;
    background-color: #FCFCFC;
}

ul {
    list-style-type: none;
    overflow: hidden;
    padding: 0;
    margin: 0;
}
img {
    display: block;
    margin: auto;
}

/* UPPER CONTAINER */
#logoContainer {
    display: inline-block;
}
#userNameContainer {
    display: inline-block;
    text-align: right;
    vertical-align: middle;
}
#userNameContainer span {
    padding-top: 10px;
    padding-right: 10px;
}
.top-bottom-padding {
    padding: 10px 0px;
}

/* NAVBAR/FOOTER UNIVERSAL STYLES */
.linkList > li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
}

.linkList > li a:hover {
    text-decoration: none;
}

/* NAVBAR LINKS */
#navbarList {
    border: 1px solid #424242;
    text-align: center;
}
#navbarList > li {
    display: inline-block;
    margin-left: -4px;
}
#navbarList > li a {
    color: #424242;
}
#navbarList > li.active {
    background-color: #424242;
    color: #A5E2D4;
}
#navbarList > li.active a {
    color: #A5E2D4;
}
#navbarList > li a:hover {
    color: #A5E2D4;
    background-color: #111;
}

/* FOOTER LINKS */
#footerLinks {
    margin-bottom: 0;
    background-color: #424242;
}
#footerLinks > li a {
    color: #FFF;
}

/* BODY CONTAINER */
.container {
    padding: 20px 0px;
    margin: 0;
    max-width: 100%;
}

/* QUOTES */
#main-quote {
    color: #000000;
    font-style: italic;
    text-align: center;
    padding: 0px 0px 10px 0px;
    margin: 0px;
    font-size: 1.3em;
    line-height: 1em;
}

#main-quote p {
    color: #000000;
    font-style: italic;
    text-align: center;
    padding: 0px 0px 0px 0px;
    margin: 0px;
    font-size: 1.3em;
}

#main-quote a {
    color: #000000;
    font-style: italic;
    text-align: center;
    padding: 0px 0px 0px 0px;
    margin: 10px;
    font-size: .7em;
}

/* COPYRIGHT */
#copyrightContainer {
    background-color: #424242;
    color: #FFF;
    padding: 20px 0px;
}
.copyrightText {
    display: block;
    text-align: center;
    font-style: italic;
    font-size: .8em;
}
